#history-header{
    color: rgb(48,106,179);
}

#history-text{
    font-size: 15px;
}

#history-section{
    padding-top: 3rem;
    padding-bottom: 5rem
}

#staff-header{
    color: rgb(48,106,179);
}

#staff-section { 
    margin-top: 4rem
}

#gretchen{
    color: rgb(170,198,250);
    font-size: 15px;
}

#karen{
    color: rgb(170,198,250);
    font-size: 15px;
    padding-top: 3rem
}

#karen-picture {
    margin-top: 4rem;
}

#sis-email{
    font-size: 15px;
    margin-top: 4rem
}

#karen-email{
    font-size: 15px;
    padding-top: 4rem
}

#sis-role{
    font-size: 15px;
}

#karen-role{
    font-size: 15px;
}

#officers-header{
    color: rgb(170,198,250);
    font-size: 15px;
    margin-top: 2rem;
    padding-bottom: 3rem
}

#officers-list{
    font-size: 15px;
}

#members-header{
    color: rgb(170,198,250);
    font-size: 15px;
    padding-top: 2rem
}

#members-list{
    font-size: 15px;
    padding-top: 5rem
}

#board-of-directors{
    padding-left: 30rem;
}

#history-picture{
    padding-top: 10rem;
}

#row2 { 
    padding-top: 1rem
}
